button {
    cursor: pointer;
    user-select: none;
}

#visiting-room {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#video-container {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background: #111;

    --video-width: 100%;
    --video-height: 100%;
    --object-fit: contain;
}

#video-container .remote-video-box {
    display: inline-block;
    width: var(--video-width);
    height: var(--video-height);
    max-width: var(--video-width);
    max-height: var(--video-height);
    position: relative;
}

#video-container .remote-video-box .video-menu {
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.5rem;
    min-width: 1.75em;
    height: 1.75em;
    line-height: 1.75;
    padding: 0 0.25em;
    border: none;
    border-radius: 0.9em;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 1;
}

#video-container .remote-video-box .video-menu::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    content: '\f4ad';
    /*font-weight: 600;
    content: '\f142';*/
}

#video-container .remote-video-box .video-menu.calibrated::before {
    font-weight: 600;
    content: '\f06e';
}

#video-container .remote-video-box .video-menu i {
    margin-left: 0.25em;
}

#video-container.one-on-one .remote-video-box .video-menu {
    top: var(--video-menu-top);
    right: var(--video-menu-right);
}

#video-container .remote-video-box .eye-answer {
    position: absolute;
    top: 5px;
    left: 5px;
    max-width: 90%;
    font-size: 2rem;
    padding: .25em .5em;
    border: 0;
    border-radius: .25em;
    box-shadow: 0 0 10px #fff;
    color: #fff;
    background: rgba(0, 0, 0, 0.75);
    cursor: none;
    z-index: 1;
}

#video-container .remote-video-box .eye-answer::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    content: '\f075';
    margin: 0 .25em 0 0;
}

#video-container.one-on-one .remote-video-box .eye-answer {
    top: var(--video-menu-top);
    left: var(--video-menu-right);
}

#video-container .remote-video-box .eye-answer.yes::before {
    /*background: rgba(0, 155, 0, 1);*/
    font-weight: 900;
    color: green;
}

#video-container .remote-video-box .eye-answer.no::before {
    /*background: rgba(220, 0, 0, 1);*/
    font-weight: 900;
    color: red;
}

#video-container video {
    width: var(--video-width);
    height: var(--video-height);
    max-width: var(--video-width);
    max-height: var(--video-height);
    object-fit: var(--object-fit);
}

#local-video {
    order: 1;
    transform: scale(-1, 1);
}

#video-container.empty #local-video {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#video-container.one-on-one #local-video {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
    object-fit: contain;
    box-shadow: 0 0 5px #000;
    z-index: 1;
}

@media screen and (min-width: 800px) {
    #video-container.one-on-one #local-video {
        max-width: 25%;
        max-height: 25%;
    }
}

#video-container video::after {
    position: absolute;
    top: 5px;
    right: 5px;
    content: 'hi';
}

#toolbar {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#toolbar button,
#toolbar a.button {
    display: inline-block;
    user-select: none;
    margin: 0 2px;
    font-size: 1.5rem;
    padding: 4px 5px;
    border: 2px solid #888;
    border-radius: 1em;
    background: #000;
    color: #fff;
    min-width: 2.5em;
    position: relative;
}

#toolbar #end-call {
    border-color: #c00;
    background: #c00;
    color: #fff;
    z-index: 1;
}

#toolbar-menu::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0c9';
    content: '\f141';
}

#settings-button::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f013';
}

#camera-button::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f030';
    content: '\f03d';
}

#camera-button.off::before {
    content: '\f031';
    content: '\f4e2';
}

#mic-button::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f130';
}

#mic-button.off::before {
    content: '\f131';
}


@media screen and (max-width: 500px),
       screen and (max-height: 500px) {
    #toolbar {
        padding: 5px;
    }
}

#video-menu-dialog {
    padding: 0;
    top: var(--dialog-top);
}

#video-menu-dialog.full-height-dialog {
    top: 0;
}

@media screen and (min-width: 721px) {
    #video-menu-dialog:not(.full-height-dialog) {
        left: var(--dialog-left);
        transform: translate(-100%, 0) scale(0.75, 1); /* position to the left of --dialog-left */
    }

    #video-menu-dialog.open-dialog:not(.full-height-dialog) {
        transform: translate(-100%, 0) scale(1);
    }
}

#video-menu-dialog button {
    display: block;
    margin: 0;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #999;
    background: inherit;
    color: inherit;
    text-align: center;
}

#video-menu-dialog button:last-child {
    border-bottom: none;
}

#video-menu-dialog button:hover {
    background: #ddd;
}

/*@media screen and (max-width: 400px) {
    #settings-button {
        display: none;
    }
}*/

#settings-panel:not(.hidden) {    
    display: block;
    height: 100%;
    min-width: 300px;
    max-width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background: #fff;
    color: #000;
    font-size: 1rem;
    padding: 0;
    box-shadow: 0 0 15px #000;
}

#settings-panel h2,
#settings-panel > div {
    margin: 0;
    padding: 10px;
}

#close-settings-panel {
    display: inline-block;
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 1.7rem;
    /*background: #c00;
    color: #fff;*/
    background: none;
    color: #c00;
}

#settings-panel label {
    display: block;
    margin: 15px 0;
    padding: 0 10px;
}

#settings-panel select {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

#console {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    color: #000;
    background: #f8f8f8;
    background: none;
    color: #2f0;
    font-family: monospace;
    font-size: .75rem;
}


#console::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 360px) {
    #console {
        width: 80%;
        background: none;
        color: #2f0;
    }
}

#console > * {
    white-space: pre-wrap;
    /*border-bottom: 1px solid #888;*/
    padding: 5px;
}

#console > *.error {
    color: red;
}
